/*------------ GLOBAL ------------*/
#logo {
    background-image:url(../images/logo.png);
}
#loader_logo {
    background-image:url(../images/loader-logo-2.png);
}
#loader_logo:before {
    background-image:url(../images/loader-logo-1.png);
}
#contact_icon {
    background-image:url(../images/logo-end.png);
}

/*------------ HOME PAGE ------------*/

/*--- Hero illustration ---*/
#img_1 {
    background-image: url(../images/main_illustration-1.png);
}
#img_2 {
    background-image: url(../images/main_illustration-2.png);
}
@media screen and (max-width: 800px) {
    #img_1 {
        background-image: url(../images/main_illustration_mob.png);
    }
}

/*--- Carousel ---*/
#slide_img_1 {
    background-image: url(../images/gif/powerpoint.gif);
}
#slide_img_2 {
    background-image: url(../images/gif/design.gif);
}
#slide_img_3 {
    background-image: url(../images/gif/branding.gif);
}
#slide_img_4 {
    background-image: url(../images/gif/resize.gif);
}
#slide_img_5 {
    background-image: url(../images/gif/templates.gif);
}
#slide_img_6 {
    background-image: url(../images/gif/ux.gif);
}

/*--- Use cases ---*/
#uc_icon_1 {
    mask-image: url(../images/icons/gantt.svg);
    -webkit-mask-image: url(../images/icons/gantt.svg);
}
#uc_icon_2 {
    mask-image: url(../images/icons/roadmap.svg);
    -webkit-mask-image: url(../images/icons/roadmap.svg);
}
#uc_icon_3 {
    mask-image: url(../images/icons/project_planning.svg);
    -webkit-mask-image: url(../images/icons/project_planning.svg);
}
#uc_icon_4 {
    mask-image: url(../images/icons/event_planning.svg);
    -webkit-mask-image: url(../images/icons/event_planning.svg);
}
#uc_icon_5 {
    mask-image: url(../images/icons/workload.svg);
    -webkit-mask-image: url(../images/icons/workload.svg);
}
#uc_icon_6 {
    mask-image: url(../images/icons/more.svg);
    -webkit-mask-image: url(../images/icons/more.svg);
}


/*------------ USE CASE PAGES ------------*/

/*--- Hero banners ---*/
.hero_image.gantt {
    background-image: url(../images/use_cases/hero-gantt.png);
}
.hero_image.roadmap {
    background-image: url(../images/use_cases/hero-roadmap.png);
}
.hero_image.project_planning {
    background-image: url(../images/use_cases/hero-project_planning.png);
}
.hero_image.event_planning {
    background-image: url(../images/use_cases/hero-event_planning.png);
}
.hero_image.workload {
    background-image: url(../images/use_cases/hero-workload.png);
}

/*--- Roadmap pain points ---*/
.pci_1.roadmap {
    background-image: url(../images/use_cases/resize.svg);
}
.pci_2.roadmap {
    background-image: url(../images/use_cases/drag_n_drop.svg);
}
/*--- Gantt charts pain points ---*/
.pci_1.gantt {
    background-image: url(../images/use_cases/add.svg);
}
.pci_2.gantt {
    background-image: url(../images/use_cases/drag_n_drop.svg);
}
/*--- Project planning pain points ---*/
.pci_1.project_planning {
    background-image: url(../images/use_cases/management.svg);
}
.pci_2.project_planning {
    background-image: url(../images/use_cases/drag_n_drop.svg);
}
/*--- Event planning pain points ---*/
.pci_1.event_planning {
    background-image: url(../images/use_cases/planning.svg);
}
.pci_2.event_planning {
    background-image: url(../images/use_cases/updates.svg);
}
/*--- Workload management pain points ---*/
.pci_1.workload {
    background-image: url(../images/use_cases/workload.svg);
}
.pci_2.workload {
    background-image: url(../images/use_cases/updates.svg);
}

/*--- Solutions (global) ---*/
.sci_1 {
    background-image: url(../images/use_cases/template.png);
}
.sci_2 {
    background-image: url(../images/use_cases/resize.png);
}
.sci_3 {
    background-image: url(../images/use_cases/drag_n_drop.png);
}
.sci_4 {
    background-image: url(../images/use_cases/powerpoint.png);
}