.content {
    overflow: scroll;
}
/*---------------- MENU ADJUSTMENTS ----------------*/
#menu_list {
    right: 40px;
}
.menu_item {
    width: auto;
    padding: 0;
    letter-spacing: 4px;
}
.menu_item:hover {
    letter-spacing: 4px;
}
#menu_list.active > .menu_item {
    width: auto;
    padding: 0 16px;
}




/*---------------- CONTENT ----------------*/
.hero {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero:before {
    content: "";
    background: red;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    mask: linear-gradient(0deg,
    rgba(0,0,0,0) 00%, rgba(0,0,0,1) 50%);
    -webkit-mask: linear-gradient(0deg,
    rgba(0,0,0,0) 00%, rgba(0,0,0,1) 50%);
}
.hero_text {
    width: 50%;
    margin: 0 40px;
}
.hero_text > h2 {
    margin: 0;
}


/*--- PAIN ---*/
.pain {
    width: calc(100% - 240px);
    margin: 0 40px 40px 40px;
    padding: 80px;
    border-radius: 24px;
    background: white;
    box-shadow: 0 8px 24px #201E2822;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.pain_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.pain_content.left {
    flex-direction: row-reverse;
}
.pain_content_img {
    height: 240px;
    background: blue;
    flex: 1 0 0;
}
.pain_content_text {
    flex: 1 0 0;
}


/*--- SOLUTION ---*/
.solution {
    width: calc(100% -80px);
    margin: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.solution_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    width: 100%;
}
.solution_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.solution_content_img {
    height: 240px;
    width: 240px;
    background: blue;
    flex: none;
    border-radius: 400px;
}
.solution_content_text {
    flex: none;
    text-align: center;
}


/*--- RESPONSIVE ---*/
@media screen and (max-width: 800px) {
    .pain_content, .pain_content.left {
        flex-direction: column;
    }
    .pain_content_img {
        width: 100%;
        flex: none;
    }
    .solution_container {
        flex-direction: column;
    }
}


/*---------------- BOTTOM SECTION ----------------*/
.footer {
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - 40px);
    left: 40px;
    margin-bottom: 40px;
    border-radius: 24px;
    background-color: white;
    background-image: url(../images/BG_page3.png), linear-gradient(0deg, #201E2800, #201E2803);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 8px #201E2822, 0 0 0 #201E2822;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing.use_case_content {
    margin-left: 0;
}
.bottom_links.use_case_content {
    opacity: 1;
    bottom: 16px;
}