/*---------------- BODY, HEADER & LOADER ----------------*/
html {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}
::selection {
    color: white;
    background: #201E28;
}
::-moz-selection {
    color: white;
    background: #201E28;
}
header {
    width: 100%;
    height: 120px;
    display: inline-block;
    background-color: white;
    z-index: 2;
    position: fixed;
}
h1 {
    float: left;
    width: 160px;
    height: 40px;
    margin: 40px 0 0 40px;
    background-image:url(images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(30deg, #201E28, #363341);*/
    background: #201E28F5;
    backdrop-filter: blur(16px);
    z-index: 3;
    transition: all .8s ease-out;
}
#loader.loaded {
    opacity: 0;
}
#loader.removed {
    display: none;
}
#loader_logo {
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 80px;
    left: calc(50% - 120px);
    top: calc(50% - 40px);
    transform: translateY(80px);
    background-image:url(images/loader-logo-2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .6s cubic-bezier(0, 0, 0, 1);
    filter: blur(16px);
}
#loader_logo:before {
    display: inline-block;
    content: "";
    width: 360px;
    height: 80px;
    background-image:url(images/loader-logo-1.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-320px);
    opacity: 0;
    transition: .6s cubic-bezier(0, 0, 0, 1);
    filter: blur(16px);
}
#loader_logo.pop {
    transform: translateY(0);
}
#loader_logo.pop, #loader_logo.pop:before {
    opacity: 1;
    filter: blur(0);
}
#loader_logo.unpop {
    transform: translateX(200px);
    filter: blur(16px);
}
#loader_logo.unpop:before {
    transform: translateX(-840px);
    filter: blur(16px);
}







/*---------------- DESIGN TOKENS ----------------*/
.button {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.button:hover {
    color: #7333FF;
}
h2 {
    color: #201E28;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    margin: 40px 0;
}
h2 > span {
    color: #7333FF;
}
h3 {
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
}
h3 > span {
    color: #7388FF;
}
p, ul {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
b {
    font-weight: 600;
}
a {
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    color: #8E8C9F;
    transition: all .2s ease-out;
}
a:hover {
    color: #7333FF;
    letter-spacing: 1px;
}
button {
    cursor: pointer;
    height: 56px;
    padding: 0 24px;
    border: 0;
    border-radius: 8px;
    transition: all .2s ease-out;
    width: fit-content;
}
.white_button {
    background: linear-gradient(0deg, #201E2800, #201E2803), white;
    color: #201E28;
    box-shadow: inset 0 2px 8px #201E2822, 0 0 0 #201E2822;
}
.white_button:hover {
    /*background: linear-gradient(30deg, #7333FF, #7388FF);*/
    background: white;
    box-shadow: inset 0 0 0 #201E2822, 0 2px 16px #201E2822;
}
.black_button {
    background: linear-gradient(0deg, #00000000, #0000000A);
    color: white;
    box-shadow: inset 0 2px 8px #00000050, 0 0 0 #00000050;
}
.black_button:hover {
    background: linear-gradient(0deg, #FFFFFF00, #FFFFFF03);
    box-shadow: inset 0 0 0 #00000050, 0 2px 16px #00000050;
    color: #7388FF;
}







/*---------------- MENU ICON ----------------*/
#menu {
    float: right;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin: 40px 40px 0 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-out;
}

/*---ICON---*/
.menu_icon {
    position: absolute;
    background-color: #201E28;
    height: 2px;
    border-radius: 2px;
    width: 12px;
    margin: 0;
    right: 9px;
    left: auto;
    transition: all .4s cubic-bezier(0, 0, 0, 1.28);
}
#men_1 {
    width: 18px;
    top: 9px;
}
#men_2 {
    width: 22px;
    top: 19px;
}
#men_3 {
    width: 16px;
    top: 29px;
}
#men_4 {
    width: 2px;
    top: 29px;
    right: 29px;
}

/*--- INTERACTION:HOVER ---*/
#menu:hover > #men_1 {
    width: 24px;
}
#menu:hover > #men_2 {
    width: 28px;
}
#menu:hover > #men_3 {
    width: 20px;
}
#menu:hover > #men_4 {
    right: 31px;
}

/*--- INTERACTION:CLICK ---*/
#menu.active > .menu_icon {
    right: calc(50% - 12px);
    top: calc(50% - 1px);
    width: 24px;
}
#menu.active > #men_1 {
    transform: rotate(45deg);
}
#menu.active > #men_2 {
    transform: rotate(-45deg);
}
#menu.active > #men_3, #menu.active > #men_4 {
    display: none;
}

/*--- INTERACTION:CLOSE HOVER ---*/
#menu.active:hover {
    box-shadow: inset 0 2px 4px #201E2822;
    background: linear-gradient(0deg, #201E2800, #201E2803);
}
#menu.active:hover > #men_1, #menu.active:hover > #men_2 {
    width: 20px;
    right: calc(50% - 10px);
}




/*---------------- ARROW ICON ----------------*/
.arrow {
    width: 40px;
    height: 40px;
    position: relative;
    top: calc(50% - 20px);
    transition: all .6s cubic-bezier(0, 0, 0, 1);
}
#arrow_left {
    float: left;
    left: 12px;
}
#arrow_right {
    float: right;
    right: 12px;
}

/*---ICON---*/
.arrow_icon {
    background-color: white;
    float: left;
    height: 16px;
    border-radius: 2px;
    width: 2px;
    margin-top: 12px;
    transition: all .6s cubic-bezier(0, 0, 0, 1);
}
.arrow_icon.left {
    margin-left: 16px;
}
.arrow_icon.right {
    margin-left: 4px;
}.nav_page_2:hover > .arrow > .arrow_icon {
    margin-left: 12px;
}
.nav_page_2:hover > #arrow_left {
    transform: translateX(12px);
}
.nav_page_2:hover > #arrow_right {
    transform: translateX(-12px);
}






/*---------------- MENU LIST ----------------*/
#menu_list {
    float: right;
    position: relative;
    z-index: 0;
    margin: 40px 0 0 0;
    height: 40px;
}
.menu_item {
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    width: 184px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #201E28;


    opacity: 0;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}
.menu_item:hover {
    letter-spacing: 6px;
}
/*--- INTERACTION ---*/
#menu_list.active > .menu_item {
    opacity: 1;
    width: 224px;
    pointer-events: all;
}
#menu_list.active > .menu_item.active {
    pointer-events: none;
    color: #8E8C9F;
}
#menu_list.active > .menu_item:after {
    display: block;
    margin-left: calc(50% - 2px);
    margin-top: 4px;
    opacity: 0;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #8E8C9F;
    content: "";
    transition: all .4s cubic-bezier(0, 0, 0, 1.28);
}
#menu_list.active > .menu_item.active:after {
    margin-top: 0;
    opacity: 1;
}






/*---------------- PAGES & NAVIGATION ----------------*/

/*--- STYLE ---*/
#content {
    position: absolute;
    top: 120px;
    width: 100%;
    height: calc(100% - 120px);
}
.pages {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(0, 0, 0, 1);
    perspective: 10000px;
}
#page_1 {
    left: 0;
    z-index: 0;
    background-image:url(images/BG_page1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#page_1.state2 {
    left: -50%;
    opacity: .5;
}
#page_1.state3 {
    left: -100%;
}
#page_2 {
    left: calc(100% - 64px);
    top: 40px;
    width: calc(100% - 240px);
    height: calc(100% - 80px);
    overflow: hidden;
    border-radius: 24px;
    background: linear-gradient(30deg, #201E28, #363341);
    box-shadow: 0 8px 24px #201E2855;
    z-index: 1;
}
#page_2.state2 {
    left: 120px;
} 
#page_2.state3 {
    left: calc(-100% + 304px);
}
#page_3 {
    left: 100%;
    width: calc(100% - 80px);
    height: calc(100% - 24px);
    border-radius: 24px;
    z-index: 0;
    background-image:url(images/BG_page3.png), linear-gradient(0deg, #201E2800, #201E2803);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 8px #201E2822, 0 0 0 #201E2822;
}
#page_3.state2 {
    left: 50%;
    opacity: .5;
}
#page_3.state3 {
    left: 40px;
}

/*--- INTERACTION ---*/
.navigation {
    background: transparent;
    position: absolute;
    height: 100%;
    top: 0;
    width: 50%;
    cursor: pointer;
}
.navigation.left {
    left: 0;
}
.navigation.right {
    left: 50%;
}
#page_1.state1 > .navigation, #page_2.state2 > .navigation, #page_3.state3 > .navigation {
    display: none;
}
#page_1.state2:hover, #page_3.state2:hover {
    opacity: 1;
}
#page_2.state1:hover {
    left: calc(100% - 88px);
}
#page_2.state3:hover {
    left: calc(-100% + 328px);
}








/*---------------- CONTENT ----------------*/

/*--- PAGE 1 ---*/
.fullscreen_img {
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 40px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateX(10deg) rotateY(-20deg) rotateZ(4deg);
    opacity: 0;
    transition: opacity 1s ease;
}
#img_1 {
    background-image: url(images/main_illustration-1.png);
}
#img_2 {
    background-image: url(images/main_illustration-2.png);
}
.bottom_content {
    position: absolute;
    bottom: 0;
    padding: 80px 40px;
    width: calc(100% - 80px);
    max-width: 100%;
    background: linear-gradient(0deg, #FFFFFFFF, #FFFFFF00);
}

/*--- PAGE 2 ---*/
h2.page_2_title {
    color: white;
    margin: 40px 80px 16px 80px;
    opacity: 0;
    transform: translateY(24px);
    transition: .6s all .6s cubic-bezier(0, 0, 0, 1);
}
#page_2.state2 > h2.page_2_title {
    opacity: 1;
    transform: translateY(0);
}

.page_2_content {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 40px;
    right: 80px;
    width: calc(100% - 160px);
    height: calc(100% - 96px);
    transform: translateY(200px);
    opacity: 0;
    z-index: 0;
    transition: all .6s cubic-bezier(0, 0, 0, 1);
}
.page_2_content.active {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}
.slide_img {
    width: 64%;
    height: 64%;
    /*box-shadow: inset 0 2px 16px #00000050;
    box-shadow: 0 8px 24px #00000050;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(120px);
    opacity: 0;
    transition: .6s all .4s cubic-bezier(0, 0, 0, 1);
}
.page_2_content.active > .slide_img {
    transform: translateY(0);
    opacity: 1;
}
#slide_img_1 {
    background-image: url(images/powerpoint.gif);
}
#slide_img_2 {
    background-image: url(images/design.gif);
}
#slide_img_3 {
    background-image: url(images/branding.gif);
}
#slide_img_4 {
    background-image: url(images/resize.gif);
}
#slide_img_5 {
    background-image: url(images/templates.png);
}
#slide_img_6 {
    background-image: url(images/ux.png);
}
.page_2_text {
    transform: translateY(80px);
    width: calc(36% - 40px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 80px;
    opacity: 0;
    transition: .8s all .6s cubic-bezier(0, 0, 0, 1);
}
.page_2_content.active > .page_2_text {
    transform: translateY(0);
    opacity: 1;
    gap: 40px;
}
.page_2_text > p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFAA;
}
/*--- NAVIGATION ---*/
.page_2_nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    gap: 24px;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
}
#page_2.state2 > .page_2_nav {
    visibility: visible;
    opacity: 1;
}
.page_2_nav_button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s cubic-bezier(0, 0, 0, 1.28);
}
.page_2_nav_button > img {
    width: 32px;
    transition: all .4s cubic-bezier(0, 0, 0, 1.28);
}
.page_2_nav_button:hover {
    box-shadow: inset 0 2px 4px #00000050;
    background: linear-gradient(0deg, #00000000, #0000000A);
}
.page_2_nav_button:hover > img {
    width: 24px;
}
.page_2_nav_pagination {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pagination {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: 1px white solid;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}
.pagination.active {
    height: 24px;
}
.pagination:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #FFFFFF;
    visibility: hidden;
}
.pagination.active:after {
    visibility: visible;
    height: 24px;
    transition: height 8s linear;
}

/*--- PAGE 3 ---*/
#page_3_content {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    opacity: 0;
    transition: .6s all .4s cubic-bezier(0, 0, 0, 1);
}
#page_3.state3 > #page_3_content {
    top: calc(50% - 88px);
    opacity: 1;
}
#contact_icon {
    position: relative;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-image:url(images/logo-end.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.page_3_text {
    margin: 40px 0;
    color: #8E8C9F;
    transition: .8s all .4s cubic-bezier(0, 0, 0, 1);
}
#page_3.state3 > #page_3_content > .page_3_text {
    margin: 0;
    margin-bottom: 16px;
}
.bottom_link {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    bottom: 0;
    opacity: 0;
    transition: .8s all .4s cubic-bezier(0, 0, 0, 1);
}
#page_3.state3 > .bottom_link {
    opacity: 1;
    bottom: 16px;
}











/*---------------- RESPONSIVE ----------------*/
@media screen and (max-width: 1024px) {
    #page_2 {
        overflow: scroll;
    }
    .page_2_content {
        flex-direction: column;
        gap: 16px;
    }
    .slide_img {
        width: 100%;
    }
    .page_2_text {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
/*--- STRUCTURE & NAVIGATION ---*/
    html {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #menu, #menu_list {
        display: none;
    }
    .pages {
        left: 0;
        position: relative;
    }
    #page_1 {
        left: 0;
        height: calc(100% - 64px);
    }
    #page_2 {
        left: 24px;
        width: calc(100% - 48px);
        height: auto;
        pointer-events: none;
    }
    #page_3 {
        top: 80px;
        left: 40px;
    }
    #page_3:after {
        content: "";
        display: block;
        position: absolute;
        height: 40px;
        width: 100%;
        top: 100%;
    }
    .navigation {
        display: none;
    }

/*--- CONTENT ---*/
    #button_1, .black_button {
        display: none;
    }
    #img_1 {
        background-image: url(images/main_illustration_mob.png);
        margin: 0;
        width: 100%;
    }
    #img_2 {
        display: none;
    }
    .bottom_content {
        padding: 40px 24px;
    }
    /*---*/
    h2.page_2_title {
        opacity: 1;
        transform: translateY(0);
        margin: 40px 40px 16px 40px;
    }
    .page_2_content {
        position: relative;
        left: 0;
        float: left;
        width: calc(100% - 80px);
        height: auto;
        margin: 0 40px;
        opacity: 1;
        transform: translateY(0);
        padding-bottom: 40px;
    }
    .slide_img {
        opacity: 1;
        height: 300px;
        transform: translateY(0);
    }
    .page_2_text {
        transform: translateY(0);
        width: 100%;
        gap: 40px;
        opacity: 1;
    }
    .page_2_nav {
        display: none;
    }
    /*---*/
    #page_3_content {
        top: calc(50% - 92px);
        opacity: 1;
    }
    .page_3_text {
        margin: 0;
        margin-bottom: 16px;
    }
}










/*---------------- LEGAL ----------------*/
#legal_body {
    overflow: hidden;
}
#legal_logo > a {
    display: block;
    width: 100%;
    height: 100%;
}
#legal_title {
    margin: 120px 0 0 40px;
}
#legal_date {
    margin-left: 40px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #8E8C9F;
}
.tabs {
    float: right;
    margin: -40px 40px 0 0;
    padding: 8px;
    background: linear-gradient(0deg, #201E2800, #201E2803);
    box-shadow: inset 0 2px 8px #201E2822, 0 0 0 #201E2822;
    border-radius: 8px;
    height: 48px;
    width: 360px;
}
.nav_tab {
    float: left;
    width: 50%;
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8E8C9F;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
}
.nav_tab:hover {
    letter-spacing: 6px;
}
.nav_tab.active {
    color: #7333FF;
    background: white;
    box-shadow: 0 2px 8px #201E2822;
    pointer-events: none;
}


.legal_section {
    position: absolute;
    top: 200px;
    margin: 40px;
    padding: 40px;
    width: calc(100% - 160px);
    height: calc(100% - 360px);
    overflow: scroll;
    border-radius: 24px;
    background-image:url(images/BG_page3.png), linear-gradient(0deg, #201E2800, #201E2803);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 8px #201E2822, 0 0 0 #201E2822;
    opacity: 0;
    z-index: 0;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}
#terms {
    transform: translateX(-120px);
}
#privacy {
    transform: translateX(120px);
}
#terms.active, #privacy.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    transition: .4s all .1s cubic-bezier(0, 0, 0, 1);
}
.legal_list > li {
    margin-bottom: 24px;
    color: #201E28;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
}
.legal_list > li::marker {
    color: #7333FF;
    font-weight: 600;
    letter-spacing: 2px;
}
.legal_list > li > p, ul {
    color: #8E8C9F;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}


@media screen and (max-width: 800px) {
    
    .tabs {
        float: none;
        margin: 40px 0 0 40px;
        width: calc(100% - 96px);
    }
    .legal_section {
        top: 280px;
        height: calc(100% - 440px);
    }
}